// Styling for the about
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.about {

    &-container {
        padding-top: 8rem;
    }

    &-button {
        border-radius: 2rem !important;
        border: 3px solid #f17909 !important;
        padding: 0.5rem 3rem !important;
        background-color: transparent !important;
    }


    //Mobile
    @include media-breakpoint-up(xs) {
        &-image {
            background-image: url(../../assets/img/tommaso.jpg);
            width: 100%;
            height: 20rem;
            background-size: cover;
        }

        &-subtitle {
            font-weight: 600;
            padding: 2rem;
        }

        &-description {
            padding: 2rem;
        }

        &-items {
            text-align: center !important;
        }
    }

    //Desktop
    @include media-breakpoint-up(lg) {
        &-image {
            background-image: url(../../assets/img/tommaso.jpg);
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: -500px;
        }

        &-subtitle {
            margin: 0 10% 0 62.5%;
            padding: 0 !important;
            font-weight: 600;
        }

        &-description {
            margin: 0 10% 0 62.5%;
            padding: 0 !important;
        }

        &-items {
            text-align: left !important;
        }
    }
}
