// Styling for the banner
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.banner {
    padding-top: 10rem;
    padding-bottom: calc(10rem - #{4.5rem});
    // replace the masthead.jpg image in the /assets/img directory to change the image
    // if the image name change, make sure to update the url path below!
    background-image: url("../../assets/img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    @include media-breakpoint-up(lg) {
        height: 100vh;
        min-height: 40rem;
        padding-top: 4.5rem;
        padding-bottom: 0;
        text-align: center !important;

        &-container {
            padding-top: 8rem;
        }
    }
    @include media-breakpoint-up(xl) {

    }

    &-button {
        border-radius: 2rem !important;
    }
}
