html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Source Sans Pro', Helvetica;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  display:inline-block;
  vertical-align:middle;
  white-space:normal;
  background:none;
  line-height:1;
  font-size:13px;
  font-family:'Source Sans Pro', Helvetica;
}

body {
  line-height: 1;
  overflow-x: hidden;
  background-color: black !important;
  color: white !important;
}

input:focus {
  outline:0;
}

button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
  @include mobiles{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }
}

input[type=checkbox],
input[type=radio]
{
  width:13px;
  height:13px;
}

input[type=file] {
}

input[type=search] {
  -webkit-appearance:textfield;
  -webkit-box-sizing:content-box;
}

::-webkit-search-decoration {
  display:none;
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  overflow:visible;
  width:auto;
}

::-webkit-file-upload-button {
  padding:0;
  border:0;
  background:none;
}

textarea {
  vertical-align:top;
  overflow:auto;
}

select {
}

select[multiple] {
  vertical-align:top;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td{
  padding-top: 1.3rem !important;
  padding-bottom: 1.3rem !important;
}

th{
  padding-top: 1.3rem !important;
  padding-bottom: 1.3rem !important;
}

#customFile .custom-file-control:lang(en)::after {
  content: "Buscar...";
}

#customFile .custom-file-control:lang(en)::before {
  content: "Buscar...";
}

.page-title{
  margin-bottom: 1rem;
}

.dropdown-item{
  transition: 0.2s all ease-in-out;
}

.dropdown-item:hover{
  background-color: rgba(0,0,0,0.2) !important;
}

.wrapper {
  @include desktops{
    width: calc(100% - 220px);
    padding: 0 2rem 0 2rem;
  }
  @include mobiles{
    padding: 0.5rem;
    width: 100%;
  }
}