.contact {
    background-image: url(../../assets/img/quotatio.jpg);
    background-position: 30rem;
    background-repeat: no-repeat;
    background-size: cover;

    &-container {
        padding-top: 8rem;
    }
}
