// Styling for the home
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.slider {

    //Mobile
    @include media-breakpoint-up(xs) {
        &-card {
            background: transparent !important;
            padding: 0 !important;
        }
        &-item {
            background-color: transparent !important;
            border: 5px solid #0A93E8 !important;
        }
    }

    //Desktop
    @include media-breakpoint-up(lg) {

    }
}

//HOME NEW CARUCEL
.home-carucel-card-small {
    justify-content: center;
    background-color: transparent !important;

    a {
        color: #ffffff !important;
    }
}

.home-carucel-card-large {
    height: 20rem;
    justify-content: center;
    background-color: transparent !important;
}

.home-carucel-small-title {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #0A93E8;
    border-radius: 10px;

    .large-title {
        text-transform: uppercase;
        position: absolute;
        transform: rotate(270deg);
    }
}

.home-carucel-small-img {
    margin: 1rem auto;
    height: 13rem;
}

.home-carucel-bg {
    &-uso {
        background-image: url("../../assets/img/uso.jpg");
        background-size: cover;
    }

    &-ejemplos {
        background-image: url("../../assets/img/ejemplos.jpg");
        background-size: cover;
    }

    &-sectores {
        background-image: url("../../assets/img/sectores.jpg");
        background-size: cover;
    }
}

.home-carucel-large-title {
    border: 5px solid #0A93E8;

    h2 {
        text-decoration: underline;
    }

    p {
        padding: 0 1rem;
    }
}

.home-carucel-large-img {
    margin: 1rem auto;
    height: 18rem;
}

.carousel-indicators {
    width: 100% !important;
    margin: 0 !important;

    li {
        width: 10px !important;
        height: 10px !important;
        border-radius: 100% !important;
        border: 0 !important;
        margin: 5px !important;
        background-color: #0A93E8 !important;
    }
}


//HOME PROCESO
.proceso-num {
    color: #f17909;
    font-size: 2.5rem;
}

.proceso-desc {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.proceso-img {
    text-align: center;
}
