.privacy {

    &-container {
        padding-top: 8rem;
    }

    &-row {
        padding-top: 5rem;
    }

    &-subtitle {
        font-size: 1rem;
        text-transform: uppercase !important;
        font-weight: 600;
    }
}
