// Styling for the process
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.process {
    &-num {
        color: #f17909;
        font-size: 2.5rem;
    }

    &-desc {
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    @include media-breakpoint-up(xs) {
        &-list {
            background: transparent !important;
        }

    }

    @include media-breakpoint-up(lg) {

    }
}
