.quotation {
    background-image: url(../../assets/img/quotatio.jpg);
    background-position: 30rem;
    background-repeat: no-repeat;
    background-size: cover;

    &-container {
        padding-top: 8rem;
    }

    &-input {
        background-color: #000000 !important;
        border: 2px solid #0a93e8 !important;
        border-radius: 0.25rem;
        color: white !important;
        background-size: cover;
        width: 100%;
        font-size: 0.63rem;

        input {
            visibility: hidden !important;
        }
    }

    &-button {
        border-radius: 2rem !important;
        padding: 0.5rem 6rem !important;
    }
}
