// Styling for the services
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.services {

    &-num {
        color: #f17909;
    }

    //Mobile
    @include media-breakpoint-up(xs) {
        &-bg {
            background-image: url(../../assets/img/services.jpg);
            height: 15rem;
            background-size: cover;
        }

        &-border {
            a:first-child {
                background: transparent !important;
                border-left: 5px solid #0a93e8 !important;
                border-right: none !important;
                border-bottom: 5px solid #0a93e8 !important;
            }

            a {
                background: transparent !important;
                border-left: 5px solid #0a93e8 !important;
                border-right: 5px solid #0a93e8 !important;
                border-bottom: 5px solid #0a93e8 !important;
            }
        }

        &-btn-quotation {
            border-radius: 2rem !important;
            padding: 0.5rem 2rem !important;
        }

        &-btn-contact {
            border-radius: 2rem !important;
            border: 3px solid #f17909 !important;
            padding: 0.5rem 4rem !important;
            background-color: transparent !important;
        }
    }

    //Desktop
    @include media-breakpoint-up(lg) {
        &-bg {
            background-image: url(../../assets/img/services.jpg);
            height: 20rem;
            background-position: 0 -200px;
            background-repeat: no-repeat;
            background-size: cover;
            -moz-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
        }

        &-lines {
            border-left: 5px solid #0a93e8;
            border-bottom: 5px solid #0a93e8;
            display: flex;
            height: 100px;
        }

        &-items {
            width: 200px;
            height: auto;
            border: 5px solid #0a93e8;
            border-radius: 10px;
            padding: 0 1rem;
        }

        &-btn-quotation {
            border-radius: 2rem !important;
            padding: 0.5rem 1rem !important;
            margin-right: 1rem;
        }

        &-btn-contact {
            border-radius: 2rem !important;
            border: 3px solid #f17909 !important;
            padding: 0.5rem 3rem !important;
            background-color: transparent !important;
        }

        &-desc {
            font-size: 0.6rem;
        }

        &-buttons {
            bottom: 1px;
        }

        &-colum {
            margin-top: -2rem !important;
        }
    }
}
