// Styling for the subjects
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.subjects {

    &-bg {
        background-image: url("../../assets/img/materias.jpg");
        height: 42rem;
        background-position-x: 30%;
        background-position-y: 53%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &-num {
        color: #f17909;
        font-size: 2rem !important;
    }

    &-desc {
        color: #ffffff !important;
        text-transform: none !important;
    }

    &-medida {
        color: #0A93E8;
    }

    //Mobile
    @include media-breakpoint-up(xs) {

        &-border {
            a {
                background: transparent !important;
                border: 5px solid #0a93e8 !important;
            }
        }

        &-btn-contact {
            border-radius: 2rem !important;
            border: 3px solid #f17909 !important;
            padding: 0.5rem 2rem !important;
            background-color: transparent !important;
        }

        &-space-1 {
            padding: 3rem 0;
        }

        &-space-2 {
            padding-bottom: 2rem;
        }

        &-button {
            border-radius: 2rem !important;
            padding: 0.5rem 1rem !important;
        }

    }

    //Desktop
    @include media-breakpoint-up(lg) {
        &-btn-contact {
            border-radius: 2rem !important;
            border: 3px solid #f17909 !important;
            padding: 0.5rem 3rem !important;
            background-color: transparent !important;
        }

        &-lines {
            display: flex;
            border-left: 5px solid #0a93e8;
            height: 350px;
            position: relative;

            &::after {
                content: "";
                width: 250px;
                height: 5px;
                position: absolute;
                bottom: 0;
                box-shadow: 250px 0 #0a93e8 inset;
            }
        }

        &-card {
            margin: -1.5rem 4rem !important;
        }

        &-button {
            border-radius: 2rem !important;
            padding: 0.5rem 1rem !important;
        }

        &-figures {
            border: 5px solid #0A93E8;
            background-color: black !important;
        }

        &-list {
            border-left: 5px solid #0A93E8;
            border-bottom: 5px solid #0A93E8;
        }

        &-help {
            display: grid !important;
            align-items: end !important;
        }
    }
}
