.labels {
    font-family: "Source Sans Pro", Helvetica;
    font-size: 1em;
}

.small-title {
    font-size: 0.8rem;
    //font-weight: bold;
}

.small-description {
    color: #9f9f9f;
}

.large-title {
    font-weight: 600;
    text-transform: uppercase;
}
