// Styling for the working
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.working {

    &-btn-contact {
        border-radius: 2rem !important;
        border: 3px solid #f17909 !important;
        padding: 0.5rem 3rem !important;
        background-color: transparent !important;
    }

    &-btn-about {
        border-radius: 2rem !important;
        padding: 0.5rem 3rem !important;
    }

    &-bg {
        background-image: url(../../assets/img/working.jpg);
        height: 20rem;
    }

    &-card {
        background-color: transparent !important;
        border: 5px solid #0a93e8 !important;
        text-align: center;
    }

    //Mobile
    @include media-breakpoint-up(xs) {
        &-bg {
            background-image: url(../../assets/img/working.jpg);
            height: 15rem;
            background-size: cover !important;
        }

        &-btn-contact {
            border-radius: 2rem !important;
            border: 3px solid #f17909 !important;
            padding: 0.5rem 2rem !important;
            background-color: transparent !important;
        }

        &-btn-about {
            border-radius: 2rem !important;
            padding: 0.5rem 2rem !important;
        }
    }

    //Large desktop
    @include media-breakpoint-up(lg) {
        &-bg {
            background-image: url(../../assets/img/working.jpg);
            height: 20rem;
            background-position-x: 30%;
            background-position-y: 53%;
            background-repeat: no-repeat;
            background-size: inherit;
        }
    }
}
