.working-card {
    margin-right: 0.3rem !important;
    margin-left: 0.3rem !important;
    height: 10rem;
}
.card-text{
  margin-top: 0.3rem !important;
  margin-bottom: 0.3rem !important;
}
.card-body{
  padding: 0 !important;
}