.failure {

    &-modal {
        background: transparent !important;
        border: 5px solid #0a93e8 !important;
    }

    &-close {
        color: white !important;
        opacity: inherit !important;
        font-size: 2.5rem !important;
    }
}
