.footer-secction {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-divider {
  margin-left: 5px;
  margin-right: 5px;
  width: 1px;
  height: 65%;
  border-left: 1px solid gray;
}

.footer-menu {
  display: flex;
  align-items: center;

  li {
    padding: 5px 0;
  }
}

.footer-link {
  color: white;
  padding: 5px 0;
}
