@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.nav {
    box-shadow: $box-shadow;
    background-color: $black;
    transition: background-color 0.2s ease;

    @include media-breakpoint-up(lg) {
        box-shadow: none;
        background-color: transparent;
    }

    &-cover {
        position: fixed !important;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9;
        padding-top: 0;
        padding-bottom: 0;
    }

    &-item {
        font-family: "Source Sans Pro", Helvetica;
        font-size: 9pt;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        text-transform: uppercase;
    }

    &-link {
        color: #fff;
        transition: 0.3s ease-in-out;
        border-bottom: 3px solid transparent;
    }

    &-link:hover {
        color: #fff;
        border-bottom: 3px solid $primary;
    }

    &-active {
        border-bottom: 2px solid $primary;
    }

    &-height {
        height: auto;
    }

    &-padding {
        padding-top: 2rem;
        padding-right: 0;
    }

    &.scrolled {
        background: #000000;
    }
}
