.center{
  text-align: center;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.hidemobile{
  @include mobiles{
    display: none !important;
  }
  @include tablet{
    display: none !important;
  }
}

.hidedesktop{
  @include sm-desktop{
    display: none !important;
  }

  @include md-desktop{
    display: none !important;
  }

  @include xxl-desktop{
    display: none !important;
  }

  @include xxl-desktop{
    display: none !important;
  }
}

.sidebar-margin{
  margin-left: 220px !important;
  @include mobiles{
    margin-left: 0px !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

.center-sm{
  @include mobiles{
    text-align: center;
  }
}

.shadow-light{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.scrolling-table{
  tbody{
    overflow-y:auto;
    width: 100%;
    height: 15rem;
  }
  thead,tbody,tr,td,th{
    display:block;
  }
  thead{
    tr{
      th{
        float: left;
      }
    }
  }
  tbody{
    td{
      float:left;
    }
  }
}

.fade{
  opacity: 0.75 !important;
}

.dropdown-menu:empty{
  display:none !important;
}