// HD desktops, 1369px and above.
@mixin xxl-desktop {
  @media (min-width: 1441px) { @content; }
}

@mixin xl-desktop {
  @media (min-width: 1369px) and (max-width: 1440px) { @content; }
}

// 1281px to higher resolutions screens.
@mixin md-desktop {
  @media (min-width: 1281px) and (max-width: 1368px) { @content; }
}

// 1025px to 1280px screens
@mixin sm-desktop {
  @media (min-width: 1025px) and (max-width: 1280px) { @content; }
}

// All Desktops
@mixin desktops{
  @media (min-width: 1025px) { @content; }
}

// Normal sized tablets, iPads.
@mixin tablet {
  @media (min-width: 768px) and (max-width: 1024px) { @content; }
}

// Low resolution tablets and mobiles in landscape mode.
@mixin mobile-ld {
  @media (min-width: 361px) and (max-width: 767px) and (orientation: landscape) { @content; }
}

// Low resolution tablets and mobiles in portrait mode.
@mixin mobile-pr {
  @media (min-width: 361px) and (max-width: 767px) and (orientation: portrait) { @content; }
}

// Low resolution tablets and mobiles in portrait mode.
@mixin mobile-all {
  @media (min-width: 361px) and (max-width: 767px) { @content; }
}

// Low resolution mobiles.
@mixin mobile-xs {
  @media (min-width: 320px) and (max-width: 360px) { @content; }
}

// For general rules in mobile devices.
@mixin mobiles {
  @media (min-width: 320px) and (max-width: 1024px) { @content; }
}